name: autorop test

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-image: [
          # ubuntu:16.04 has python 3.5, while some dependencies need >=3.6
          'ubuntu:18.04',
          'ubuntu:20.04',
          'debian:10',
        ]
      fail-fast: false  # do not stop other matrix jobs if one fails

    steps:
    - uses: actions/checkout@v2

    - name: Free disk space
      run: |
        df -h
        echo "Source: https://github.com/facebookresearch/wav2letter/commit/dee0b81895bc9254a463b19ef87d49f14dcb913a"
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker image ls -aq)
        echo "Source: https://github.com/easimon/maximize-build-space/blob/master/action.yml"
        sudo rm -rf /usr/share/dotnet
        df -h

    - uses: satackey/action-docker-layer-caching@v0.0.11

    - name: Set corefile configuration
      run: sudo sysctl -w kernel.core_pattern="core.%p"

    - name: Build Docker image
      run: cd ci/ && ./build.sh ${{ matrix.test-image }}

    - name: Show versions
      run: docker run --rm "autorop-test-${{ matrix.test-image }}" ./versions.sh

    - name: Lint
      run: docker run --rm "autorop-test-${{ matrix.test-image }}" ./lint.sh

    - name: Typecheck
      run: docker run --rm "autorop-test-${{ matrix.test-image }}" ./typecheck.sh

    - name: Run tests
      run: docker run --rm "autorop-test-${{ matrix.test-image }}" ./test.sh
